{% extends 'base.html.twig' %}

{% block title %}Compteur{% endblock %}

{% block body %}
    <h1>Compteur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ compteur.id }}</td>
            </tr>
            <tr>
                <th>Code_cpt</th>
                <td>{{ compteur.codeCpt }}</td>
            </tr>
            <tr>
                <th>Lib_cpt</th>
                <td>{{ compteur.libCpt }}</td>
            </tr>
            <tr>
                <th>Date_cr</th>
                <td>{{ compteur.dateCr ? compteur.dateCr|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date_last_modif</th>
                <td>{{ compteur.dateLastModif ? compteur.dateLastModif|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Taille</th>
                <td>{{ compteur.taille }}</td>
            </tr>
            <tr>
                <th>Valeur</th>
                <td>{{ compteur.valeur }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_compteur_index') }}">back to list</a>

    <a href="{{ path('app_compteur_edit', {'id': compteur.id}) }}">edit</a>

    {{ include('compteur/_delete_form.html.twig') }}
{% endblock %}
