{% extends 'index.html.twig' %}

{% block body %}
<style>
   /* Couleurs */
   :root {
     --noir: #000;
     --rouge: #cc0000;
     --gris: #888;
     --blanc: #fff;
   }

   /* Typographie */
   body {
     font-family: Arial, sans-serif;
   }

   /* Tableau */
   table {
     margin-left: 250px;
     border-collapse: collapse;
     width: 100%;
     margin-bottom: 20px;
     margin-top: 15px;
   }

   th, td {
     border: 1px solid var(--gris);
     padding: 10px;
     text-align: left;
   }

   th {
     background-color: var(--rouge);
     color: var(--blanc);
     font-weight: bold;
   }

   /* Alternance de lignes */
   tr:nth-child(even) {
     background-color: #f2f2f2;
   }

   /* Effet de survol */
   tr:hover {
     background-color: #ddd;
   }

   /* Cellule avec un triangle (simulant la flèche du logo) */
   
.btn-esprit {
     background-color: var(--rouge);
     color: var(--blanc);
     border: none;
     padding: 10px 20px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     cursor: pointer;
     border-radius: 5px;
     box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
   
   }
   /* Style du bouton */
   .btn-esprit1 {
     background-color: var(--rouge);
     color: var(--blanc);
     border: none;
     padding: 10px 20px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     cursor: pointer;
     border-radius: 5px;
     box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
     margin-left: 250px;
     margin-top: 100px;
   }

   /* Effet de survol */
   .btn-esprit:hover {
     background-color: darken(var(--rouge), 10%);
   }
   .btn-esprit1:hover {
     background-color: darken(var(--rouge), 10%);
   }
</style>

<a href="{{ path('app_salle_new') }}" class="btn-esprit1">Ajouter une salle</a>

<table class="table">
    <thead>
        <tr>
            <th>Code Des Salles</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for salle in salles %}
        <tr>
            <td>{{ salle.codeSalle }}</td>
            <td>{{ salle.description }}</td>
            <td>
               <a href="{{ path('app_salle_delete', {'code_salle': salle.codeSalle}) }}" class="btn-esprit">Supprimer</a>
               <a href="{{ path('app_salle_edit', {'code_salle': salle.codeSalle}) }}" class="btn-esprit">Modifier</a>
            </td>  
        </tr>
    {% else %}
        <tr>
            <td colspan="3">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
